<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- -----------Font-------------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>ChatsApp</title>
</head>

<body>
    <div class="container-fluid">
        <div id="green-underlay"></div>
        <div class="window">
            <div class="row" style="height: 100%;">
                <div class="col-8 chat">
                    <div class="default-window visible">
                        <div class="img mx-auto"></div>
                        <h1 class="mt-5 text-center">Start chatting</h1>
                        <div class="info mt-3 text-center mx-auto">
                            In order to start chatting, begin by adding users to your contacts
                            list.<br>
                            You can then click on a user and a new chat window will appear.
                        </div>
                        <div class="bottom-line"></div>
                    </div>
                    <!-- ---------Chat window--------- -->
                    <div class="chat-container hidden">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg chat-navbar">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                    <div class="navbar-nav">
                                        <a class="nav-link px-4" aria-current="page" href="#"><i
                                                class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class=" col chatmain">
                            <div class="message-container" data-roomname="">
                            </div>
                        </div>
                        <form id="chat-form" autocomplete="off">
                            <div class="col chat-footer d-flex align-items-center">
                                <div class="emoji mx-auto">
                                    <i class="far fa-laugh"></i>
                                </div>
                                <div class="footer-text-area">
                                    <input class="textInput" id="textInput" type="text" placeholder="Write a message" />
                                </div>
                                <div class="paperplane mx-auto">
                                    <button type="submit" class="send-button"><i
                                            class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ------------------------- -->
                </div>
                <div class="col-4 contacts">
                    <!-- ------Profile Menu------ -->
                    <div class="profile-menu hidden">
                        <div class="profile-menu-heading d-flex align-items-end">
                            <i class="fas fa-arrow-left arrow-profile text-white fa-lg me-5 ms-4"></i>
                            <h4 class="text-white">Profile</h4>
                        </div>
                        <div class="profile-menu-picture-div d-flex align-items-center justify-content-center">
                            <div class="profile-menu-picture">
                                <img src="<%=currentUser.profile_picture.path%> " alt="">
                            </div>
                        </div>
                        <div class="profile-menu-name">
                            <div style="height: 50%;" class="d-flex">
                                <span class="profile-info-heading ms-3 mt-3">Your name</span>
                            </div>
                            <div style="height: 50%;" class="d-flex justify-content-end align-items-end me-3">
                                <span class="mb-2 name">
                                    <%=currentUser.name %>
                                </span><span class="mb-2 ms-2"><i class="fas fa-pen"></i>
                                </span>
                            </div>
                        </div>
                        <div class="profile-menu-info my-3 mx-3">
                            <small>This is not your username. This name will appear to other people
                                in your ChatsApp contacts list.</small>
                        </div>
                        <div class="profile-menu-about">
                            <div style="height: 50%;" class="d-flex">
                                <span class="profile-info-heading ms-3 mt-3">About</span>
                            </div>
                            <div style="height: 50%;" class="d-flex justify-content-end align-items-end me-3">
                                <div class="mb-2 d-flex me-auto">
                                    <span class="about ms-3">
                                        <%=currentUser.about%>
                                    </span>
                                </div>
                                <span class="mb-2 mr-3"><i class="fas fa-pen"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- ------------ -->
                    <!-- ------Group-menu------ -->
                    <div class="group-menu hidden">
                        <div class="group-menu-heading d-flex align-items-end">
                            <i class="fas fa-arrow-left arrow-group text-white fa-lg me-5 ms-4"></i>
                            <h4 class="text-white">Add users to a group
                            </h4>
                        </div>
                        <div class="group-menu-search my-4 mx-3">
                            <input class="form-control-plaintext" type="text" placeholder="Enter username"
                                aria-label="default input example">
                        </div>
                    </div>
                    <!-- ------------ -->
                    <!-- ------Starred-menu------ -->
                    <div class="starred-menu hidden">
                        <div class="starred-menu-heading d-flex align-items-end">
                            <i class="fas fa-arrow-left arrow-starred text-white fa-lg me-5 ms-4"></i>
                            <h4 class="text-white">Starred messages
                            </h4>
                        </div>
                        <div class="starred-info d-flex justify-content-center"><span
                                class="starred-messages-span align-self-center">You don't have any starred
                                messages</span></div>
                    </div>
                    <!-- ------------ -->
                    <!-- ------New Chat Menu------ -->
                    <div class="chat-menu hidden">
                        <div class="chat-menu-heading d-flex align-items-end">
                            <i class="fas fa-arrow-left arrow-chat text-white fa-lg me-5 ms-4"></i>
                            <h4 class="text-white">New chat
                            </h4>
                        </div>
                        <div class="chat-menu-search d-flex">
                            <div class="searchBar mx-auto align-items-center">
                                <input class="searchInput" type="text" name="searchQueryInput"
                                    placeholder="Search users from your contacts list" value="" />
                                <button class="searchButton" type="submit" name="searchQuerySubmit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        <div class="chat-menu-add d-flex">
                            <div class="chat-menu-icon align-self-center d-flex ms-3">
                                <i class="fas fa-user-plus fa-lg text-white align-self-center mx-auto"></i>
                            </div>
                            <span class="ms-3 my-auto new-group-span">Add user</span>
                        </div>
                        <div class="chat-menu-group d-flex">
                            <div class="chat-menu-icon align-self-center d-flex ms-3">
                                <i class="fas fa-users fa-lg text-white align-self-center mx-auto"></i>
                            </div>
                            <span class="ms-3 my-auto new-group-span">Create new group</span>
                        </div>
                        <% if(currentUser.contacts_list.length) { %>
                            <% for(let contact of contacts) { %>
                                <div class="user" data-username="<%=contact.username%>">
                                    <div class="user-profile-picture ms-3">
                                        <img src="<%=contact.profile_picture.path%>" alt="">
                                    </div>
                                    <div class="ms-3">
                                        <div class="name">
                                            <%=contact.name%>
                                        </div>
                                        <div class="about">
                                            <%=contact.about%>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>
                    <!-- ------------ -->
                    <!-- ------Add user menu------ -->
                    <div class="add-menu hidden">
                        <div class="add-menu-heading d-flex align-items-end">
                            <i class="fas fa-arrow-left arrow-add text-white fa-lg me-5 ms-4"></i>
                            <h4 class="text-white">Add a new user
                            </h4>
                        </div>
                        <form action="" method="" id="search-user-form">
                            <div class="add-menu-search d-flex">
                                <div class="searchBar mx-auto align-items-center">
                                    <input class="searchInput" type="text" id="searchUsers" autocomplete="off"
                                        placeholder="Type username" />
                                    <button class="searchButton" type="submit" name="">
                                        <i class=" fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ------------ -->
                    <div class="contacts-main visible">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link px-4" href="#" id="navbarDropdownMenuLink" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item dropdown-item-group" href="#">New
                                                    group</a>
                                            </li>
                                            <li><a class="dropdown-item dropdown-item-profile" href="#">Profile</a>
                                            </li>
                                            <li><a class="dropdown-item dropdown-item-starred" href="#">Starred
                                                    messages</a></li>
                                            <li><a class="dropdown-item" href="#">Settings</a></li>
                                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                                        </ul>
                                    </li>
                                    <a class="nav-link chat-icon" href="#"><i class="fas fa-comment-alt"></i>
                                    </a>
                                </div>
                                <div class="navbar-nav ms-auto me-3">
                                    <div class="profilepicture nav-link"
                                        style="background-image: url('<%=currentUser.profile_picture.path%>');">
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="col my-2">
                            <div class="searchBar mx-auto">
                                <input class="searchInput" type="text" name="searchQueryInput"
                                    placeholder="Search or start a new conversation" value="" />
                                <button class="searchButton" type="submit" name="searchQuerySubmit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        window.currentUser = '<%=currentUser.username%>'
        window.currentUserContacts = '<%=currentUser.contacts_list%>'
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>
        const profilePicture = document.querySelector('.profilepicture')
        const profileMenu = document.querySelector('.profile-menu')
        const groupMenu = document.querySelector('.group-menu')
        const chatMenu = document.querySelector('.chat-menu')
        const starredMenu = document.querySelector('.starred-menu')
        const chatMenuAdd = document.querySelector('.chat-menu-add')
        const addMenu = document.querySelector('.add-menu')
        const chatMenuNewGroup = document.querySelector('.chat-menu-group')
        const chatIcon = document.querySelector('.chat-icon')
        const arrowProfile = document.querySelector('.arrow-profile')
        const arrowGroup = document.querySelector('.arrow-group')
        const arrowChat = document.querySelector('.arrow-chat')
        const arrowStarred = document.querySelector('.arrow-starred')
        const arrowAdd = document.querySelector('.arrow-add')
        const contactsDiv = document.querySelector('.contacts-main')
        const dropdownItemProfile = document.querySelector('.dropdown-item-profile')
        const dropdownItemGroup = document.querySelector('.dropdown-item-group')
        const dropdownItemStarred = document.querySelector('.dropdown-item-starred')
        //-----------------------------------------------
        //-----------------------------------------------
        profilePicture.addEventListener('click', () => {
            toggleDisplay(profileMenu, contactsDiv)
        })
        arrowProfile.addEventListener('click', () => {
            toggleDisplay(contactsDiv, profileMenu)
        })

        dropdownItemProfile.addEventListener('click', () => {
            toggleDisplay(profileMenu, contactsDiv)
        })
        dropdownItemGroup.addEventListener('click', () => {
            toggleDisplay(groupMenu, contactsDiv)
        })
        arrowGroup.addEventListener('click', () => {
            toggleDisplay(contactsDiv, groupMenu)
        });
        chatIcon.addEventListener('click', () => {
            toggleDisplay(chatMenu, contactsDiv)
        })
        arrowChat.addEventListener('click', () => {
            toggleDisplay(contactsDiv, chatMenu)
        });
        chatMenuNewGroup.addEventListener('click', () => {
            toggleDisplay(groupMenu, chatMenu)
        })

        dropdownItemStarred.addEventListener('click', () => {
            toggleDisplay(starredMenu, contactsDiv)
        })
        arrowStarred.addEventListener('click', () => {
            toggleDisplay(contactsDiv, starredMenu)
        })
        chatMenuAdd.addEventListener('click', () => {
            toggleDisplay(addMenu, chatMenu)
        })
        arrowAdd.addEventListener('click', () => {
            toggleDisplay(chatMenu, addMenu)
            location.reload()
        })
    </script>
</body>

</html>